@model IEnumerable<HotelReservationApp2.Models.Room>

@{
    ViewData["Title"] = "Lista pokoi";
}

<h1>Lista pokoi</h1>

<a class="btn btn-primary" asp-action="Create">Dodaj nowy pokój</a>

<table class="table">
    <thead>
        <tr>
            <th>Numer pokoju</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>@room.RoomNumber</td>
                <td>@room.Description</td>
                <td>@room.Price</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@room.Id">Edytuj</a> |
                    <a asp-action="Delete" asp-route-id="@room.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
