@model IEnumerable<HotelReservationApp2.Models.Reservation>

@{
    ViewData["Title"] = "Lista rezerwacji";
}

<div class="container py-5">
    <h1 class="text-center mb-4">Lista rezerwacji</h1>
    <a asp-controller="ReservationForm" asp-action="Create" class="btn btn-primary mb-4">Dodaj nową rezerwację</a>

    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Imię i nazwisko</th>
                <th>Email</th>
                <th>Data zameldowania</th>
                <th>Data wymeldowania</th>
                <th>Pokój</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model)
            {
                <tr>
                    <td>@reservation.FullName</td>
                    <td>@reservation.Email</td>
                    <td>@reservation.CheckInDate.ToShortDateString()</td>
                    <td>@reservation.CheckOutDate.ToShortDateString()</td>
                    <td>@reservation.Room.RoomNumber</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@reservation.Id" class="btn btn-warning btn-sm">Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@reservation.Id" class="btn btn-danger btn-sm">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>